.btn-sign {
    width: 10vw;
}

.three-dots:after {
    cursor: pointer;
    color: #2395FF;
    content: '\2807';
    font-size: 30px;
    padding: 0 5px;
  }

.booking-pass {
    padding: 50px;
    width: 65vw;
    height: 80vh;
}

.board {
    margin-top: 8px;
    margin-bottom: 8px;
    border-right: 2px dashed #D7D7D7;
}

.board2 {
    border-bottom: 2px dashed #D7D7D7;
}

.navbtn:active {
    font-weight: bold;
    border-bottom: 2px double black;
}

.barcode {
    transform: rotate(-90deg);
    height: 50px!important;
    margin-top: 150px;
}

.ticket {
    height: 55vh;
    width: 57vw;
}

.left-one {
    background-repeat: no-repeat;
    background-image: radial-gradient(circle at 25.4% 0 , rgba(0,0,0,0) .2em, #D7D7D7 .4em, white .1em);
}

.right-one {
    background-repeat: no-repeat;
    background-image: radial-gradient(circle at 25% 0 , rgba(0,0,0,0) .2em, #D7D7D7 .4em, white .1em);
}