.hero-container {
  margin: 0;
  padding: 0;
  /* background-color: orange; */
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
}
.hero-section {
  /* background-color: cadetblue; */
  height: 120vh;
}
.hero-section-left {
  flex: 2.1;
}
.hero-section-right {
  flex: 0.9;
}
.hero-section-text {
  margin: 5em 4em 3em 8em;
}
.hero-title {
  font-size: 4rem;
}
/* .hero-section-picture-one {
  background-color: orchid;
}
.hero-section-picture-two {
  background-color: orange;
}
.hero-pic-2 {
  right: 0;
  margin-right: 0;
  padding-right: 0;
} */
