* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  font-family: 'Poppins';
 }

body {
  background-color: #ffffff;
}

*::-webkit-scrollbar {
  display: none!important;
}

*:focus {
  outline: none;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Regular.ttf'),
        url('./fonts/Poppins-Bold.ttf');
}

.bg-primary {
  background-color: #2395FF!important;
}

.rounded {
  border-radius: 20px!important;
}

.lh-1 {
  line-height: 0.5!important;
}

.mt-6 {
  margin-top: 120px;
}

.bg-light {
  background: #F5F6FA!important;
}

.border-primary {
  border-color: #2395FF!important;
}

.text-primary {
  color: #2395FF!important;
}

.cursor {
  cursor: pointer;
}
