.card-wrapper {
    height: 300px;
    width: 250px;
    background-color: #fff;
    border-radius: 15px;
    border: 1px solid black;
    padding: 10px 30px;
    box-sizing: border-box;
}

.font-16 {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
}